<!DOCTYPE html>
<html lang="en">

<head>
    <!-- TEMPORARY: REMOVE AFTER INITIAL DEV PHASE-->
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    
    
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<body>

    <header id="header">

        <!-- Autocomplete="off" makes it so that the nav-bar mininizes on refresh -->
        <input type="checkbox" class="nav-toggle" id="nav-toggle" onclick="alternateBackgroundColor()" autocomplete="off" />
        <!-- Due to the way the HTML is structured, there is actually two headers.
        This should probably be fixed -->
        <a id="header-text-responsive" href="index.php">Chess</a>

        <label for="nav-toggle" class="nav-label">
            <div class="nav-bars"></div>
            <div class="nav-bars"></div>
            <div class="nav-bars"></div>
        </label>
        <div class="navbar" id="navbar">
            <div class="left-navbar">
                <a id="header-text">Chess Game</a>
            </div>

            <div class="right-navbar">
                <a id="about-button" href="analysisBoard.html"> Analysis Board</a>
                <a id="about-button" href="home.html"> Home</a>
            </div>
        </div>
    </header>

    <main>
        <div class="main">
            <div id=canvas>
                <!--For color, 0 = white, 1 = black 
                    time and increment are both in seconds
                -->
                <body onload="startUI(color = 1, time = 60, increment = 0)">
                    <script src="{{url_for('static', filename='javascript/gameui.js')}}"></script>
                </body>
            </div>
        </div>
        <div class="side" id = "result"><!--I made this div display the result for testing. Feel free to change where the result of a game is displayed on the page by changing what elements have id = "result"-->
            
        </div>
    </main>

</body>

