<!DOCTYPE html>
<html lang="en">

<head>
    <!-- TEMPORARY: REMOVE AFTER INITIAL DEV PHASE-->
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    
    
</head>


<body>

  <header id="header">

    <!-- Autocomplete="off" makes it so that the nav-bar mininizes on refresh -->
    <input type="checkbox" class="nav-toggle" id="nav-toggle" onclick="alternateBackgroundColor()" autocomplete="off" />
    <!-- Due to the way the HTML is structured, there is actually two headers.
    This should probably be fixed -->
    <a id="header-text-responsive" href="index.php">Testing</a>

    <label for="nav-toggle" class="nav-label">
        <div class="nav-bars"></div>
        <div class="nav-bars"></div>
        <div class="nav-bars"></div>
    </label>

    <div class="navbar" id="navbar">
        <div class="left-navbar">
            <a id="header-text" href="starterPage.html"> Chess</a>
        </div>

        <div class="right-navbar">
            <a id="about-button" href="analysisBoard.html"> Analysis Board</a>
            <a id="about-button" href="starterPage.html"> Chess</a>
        </div>
    </div>
</header>
<main>
  <div class="main">
      <h2>
          Welcome, please select an option
          <br>
      </h2>
    <div class="strt">

      <div class="strtex">
        <a href="starterPage.html">Play a New Game of Chess</a>
      </div>

      <br>

      <div class="strtex">
        <a href="analysisBoard.html">Analize a Previous Game of Chess</a>
      </div>  

    </div>

    
</body>

