<!DOCTYPE html>
<html lang="en">

<head>
    <!-- TEMPORARY: REMOVE AFTER INITIAL DEV PHASE-->
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

    <link rel="stylesheet" href="/static/css/home.css" />
    
    
</head>


<body>

    <header id="header">

        <!-- Autocomplete="off" makes it so that the nav-bar mininizes on refresh -->
        <input type="checkbox" class="nav-toggle" id="nav-toggle" onclick="alternateBackgroundColor()" autocomplete="off" />
        <!-- Due to the way the HTML is structured, there is actually two headers.
        This should probably be fixed -->
        <a id="header-text-responsive" href="index.php">Testing</a>

        <label for="nav-toggle" class="nav-label">
            <div class="nav-bars"></div>
            <div class="nav-bars"></div>
            <div class="nav-bars"></div>
        </label>

        <div class="navbar" id="navbar">
            <div class="left-navbar">
                <a id="header-text" href="home.html"> Chess</a>
            </div>

            <div class="right-navbar">
                <a id="about-button" href="analysisBoard.html"> Analysis Board</a>
                <a id="about-button" href="home.html"> Chess</a>
            </div>
        </div>
    </header>

    <main>
        <div id = "body">
            <h2> Would you like to Play A Game?</h2>
            <form>
                <h3>Select the Difficulty</h3> 
                
                <input type="radio" id="Easy" name="difficulty" value="Easy" checked = checked>
                <label for="Easy"> Easy</label>
                       
                <input type="radio" id="Medium" name="difficulty" value="Medium">
                <label for="Medium">Medium</label>
                       
                <input type="radio" id="Hard" name="difficulty" value="Hard">
                <label for="Hard"> Hard </label>
                     
                
                <h3> Select which color you wish to play as </h3>
                   
                <input type="radio" id="white" name="color" value="white" checked = checked>
                <label for="white">White</label>
                       
                <input type="radio" id="black" name="color" value="black">
                <label for="black">Black</label>

                   
                <h3> Select a time control </h3>
                   
                <input type="radio" id="None" name="time" value="None" checked = checked>
                <label for="None">None</label>
                       
                <input type="radio" id="1 Minute" name="time" value="1 Minute">
                <label for="1 Minute">1 Minute</label>
                       
                <input type="radio" id="5 Minute" name="time" value="5 Minute">
                <label for="5 Minute">5 Minute</label>
                   
            
                  <div>
                    <h3>
                        Ready?
                    </h3>
                  <button type="submit"><h3> PLAY </h3></button>
                </div>
              </form>
        </div>
    </main>
</body>
